.info .contenedor {
  margin-top: 30px;
}

.info__columna{
  width: 95%;
  margin: auto;
  background: #fba919;
  box-shadow: 0 0 20px 1px rgb(0, 0, 0, 40%);
}

.info img {
  width: 90%;
  margin: auto;
  margin-top: 30px;
  padding-top: 10px;
}

.info__columna__titulo {
  text-align: center;
  padding: 0;
}

.info__txt{
  text-align: center;
}

.info p{
  margin: 10px;
}